Name:
<input required type="text" [(ngModel)]="name" id="name">
<div *ngIf="nameInvalid" class="required">
    Enter a name
</div>
<br>

<div class="ledContainer">
    <div *ngFor="let led of leds; index as i" (click)="select(i)">
        <div class="led" [ngStyle]="ledStyles[i]">{{i}}</div>
        <!-- <div *ngIf="!ledsSelected[i]" class="led ledNotSelected">{{i}}</div> -->
    </div>
</div>
New color selector:
<input type="color" [(ngModel)]="currentColor" (change)="updateColors()">
<br>
<button (click)="setColor()">Submit</button>
<br>
<div *ngFor="let action of actionList; index as i">
    Start: {{action.ledStart}}, End: {{action.ledEnd}}, r: {{action.r}}, g: {{action.g}}, b: {{action.b}}
</div>