Name:
<input required type="text" [(ngModel)]="name" id="name">
<div *ngIf="nameInvalid" class="required">
    Enter a name
</div>
<br>

<p>
    Click box to select an LED, use shift + click on a second to select a group.
</p>
<div class="ledContainer">
    <div *ngFor="let led of leds; index as i" (click)="select(i, $event)">
        <div class="led noSelect" [ngStyle]="ledStyles[i]">{{i}}</div>
        <!-- <div *ngIf="!ledsSelected[i]" class="led ledNotSelected">{{i}}</div> -->
    </div>
</div>
New color selector:
<input type="color" [(ngModel)]="currentColor" (change)="updateColors()">
<br>
<button (click)="setColor()">Submit</button>
<br>

<p>
    This is the list of commands that will be sent and has a maximum of 20 commands. This limit is for the microcontroller to not get overwhelmed. They will be executed from 1st to last. 
</p>
<div *ngFor="let action of actionList; index as i">
    {{i+1}}. Start: {{action.ledStart}}, End: {{action.ledEnd}}, r: {{action.r}}, g: {{action.g}}, b: {{action.b}}<button (click)="removeAction(i)">Remove</button>
</div>