.main-nav a:link{
    color: #000000;
}

.main-nav a:visited{
    color:#000000;
}

.main-nav a {
    font-size: 1.5rem;
    text-decoration: none;
}

.main-nav {
    padding-left: 1rem;
    padding-bottom: .5rem;
}